/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 18px;
}

/* intestazione */
header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 500px;
}

/* barra di navigazione */
nav {
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: 80%;
    height: 10%;
    margin: 0 auto;

}

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
    }

    .menu {
         width: 50%;
    }

        #nav-area {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            list-style-type: none;
        }

            .link {
                text-decoration: none;
                color: black;
            }

            .bianco {
                color: #fff;
            }

    .access {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
    }

    /* Bottoni */
        .button {
            padding: 5px 10px;
            border-radius: 15%;
        }

        .white {
            background-color: #fff;
        }

        .black {
            background-color: rgb(22, 20, 20);
            color: #fff;
        }



/* sottosezione header */
.under-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

    .blocco-undernav {
        text-align: center;
        width: 50%;
    }

        .blocco-undernav h1 {
            color: #fff;
            font-size: 50px;
            margin-bottom: 30px;
        }

        .paragrafo-bianco {
            color: #fff;
            width: 80%;
            margin: 0 auto;
        }

        .bottoni {
            margin-top: 15px;
        }

            .bottoni .white {
                margin-right: 15px;
            }

            .bottoni .white::before {
                content: "\1F817";
                margin-right: 5px;
            }

/* corpo della pagina */

/* riga */
.riga {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}   

.grigia {
    background-color: rgb(241, 233, 233);
}

    .blocco-riga {
        display: flex;
        margin: auto 0;
        width: 80%;
    }

    .sezione-immagine {
        display: flex;
        justify-content: flex-end;
        width: 60%;
    }  

        .img-riga {
            width: 600px;
        }
    
    .reverse {
        justify-content: center;
    }

    .sezione-testo {
        width: 40%;
        padding: 30px;
        text-align: left;
    }

       .sezione-testo h1 {
        font-size: 50px;
        margin-bottom: 30px;
       }
   

.due {
    flex-direction: row-reverse;
}

/* colonna */
.colonna {
    width: 80%;
    margin: auto;
    text-align: center;
    /* DEBUG */
    height: 800px;
    background-color: brown;
}

    .sezione {
        /* DEBUG */
        height: 10%;
        border: 1px solid black;
    }

    .immagine-colonna {
        /* DEBUG */
        height: 60%;
        border: 1px solid black;
    }

    .download {
        /* DEBUG */
        height: 20%;
        border: 1px solid black;
    }

    /* footer */
    footer {
        padding: 50px 0;
        /* DEBUG */
        /* height: 700px; */
        background-color: black;
    }

        .blocco-footer {
            display: flex;
            width: 80%;
            margin: 0 auto;
            /* DEBUG */
            background-color: grey;
            height: 400px;
        }

            .sottoblocco-footer {
                /* DEBUG */
                width: 20%;
                border: 1px solid black;
            }

        /* piedipagina */
        .piedipagina {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            /* DEBUG */
            background-color: grey;
            border: 1px solid black;
            height: 60px;

        }

            .register {
                width: 25%;
                border: 1px solid black;
            }











